# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

In [1]:
import pandas as pd
import numpy as np


insurance = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [2]:
# - Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [3]:
insurance.shape

(4008, 11)

In [4]:
insurance = insurance.dropna()

In [ ]:
# - Determine the data types of each column and evaluate whether they are appropriate for the nature of 
# the variable. You should also provide suggestions for fixing any incorrect data types.

In [5]:
insurance.dtypes

#Not sure if this is what you want:
#number of open complaints should be an integer.

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [6]:
insurance

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [ ]:
# - Identify the number of unique values for each column and determine which columns appear to be 
# categorical. You should also describe the unique values of each categorical column and the range 
# of values for numerical columns, and give your insights.

In [7]:
insurance_un_val = insurance.nunique()

insurance_un_val

#Categorical:
#ST  // GENDER // Education // Policy Type // Vehicle Class

Customer                     952
ST                             8
GENDER                         5
Education                      6
Customer Lifetime Value      921
Income                       688
Monthly Premium Auto         128
Number of Open Complaints      6
Policy Type                    3
Vehicle Class                  6
Total Claim Amount           688
dtype: int64

In [8]:
insurance["ST"].unique()

array(['Arizona', 'Nevada', 'California', 'Washington', 'Oregon', 'AZ',
       'WA', 'Cali'], dtype=object)

In [9]:
insurance["GENDER"].unique()

array(['F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [10]:
insurance["Education"].unique()

array(['Bachelor', 'High School or Below', 'College', 'Master',
       'Bachelors', 'Doctor'], dtype=object)

In [11]:
insurance["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype=object)

In [12]:
insurance["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

In [13]:
print(insurance["Customer Lifetime Value"].min())
print(insurance["Customer Lifetime Value"].max())

1006460.83%
995170.77%

In [14]:
print(insurance["Income"].min())
print(insurance["Income"].max())

0.0
99960.0

In [15]:
print(insurance["Monthly Premium Auto"].min())
print(insurance["Monthly Premium Auto"].max())

61.0
35354.0

In [16]:
print(insurance["Number of Open Complaints"].min())
print(insurance["Number of Open Complaints"].max())

1/0/00
1/5/00

In [17]:
print(insurance["Total Claim Amount"].min())
print(insurance["Total Claim Amount"].max())

0.382107
2893.239678

In [ ]:
# - Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand 
# the central tendency and distribution of the data for numerical columns. You should also provide your 
# conclusions based on these summary statistics.

In [42]:
mean_income = insurance["Income"].mean()
median_income = insurance["Income"].median()
mode_income = insurance["Income"].mode()
std_income = insurance["Income"].std()
quart_income = np.percentile(insurance["Income"], [25, 50, 75])

print(f"Mean of Income: {mean_income}")
print(f"Median of Income: {median_income}")
print(f"Mode of Income: {mode_income}")
print(f"Standard Deviation of Income: {std_income}")
print(f"Quartiles of Income: {quart_income}")

Mean of Income: 39557.350840336134
Median of Income: 36632.0
Mode of Income: 0    0.0
Name: Income, dtype: float64
Standard Deviation of Income: 30744.561851272676
Quartiles of Income: [13087.75 36632.   65085.5 ]

In [41]:
mean_monthly_premium = insurance["Monthly Premium Auto"].mean()
median_monthly_premium = insurance["Monthly Premium Auto"].median()
mode_monthly_premium = insurance["Monthly Premium Auto"].mode()
std_monthly_premium = insurance["Monthly Premium Auto"].std()
quart_monthly_premium = np.percentile(insurance["Monthly Premium Auto"], [25, 50, 75])

print(f"Mean of Monthly Premium Auto: {mean_monthly_premium}")
print(f"Median of Monthly Prenium Auto: {median_monthly_premium}")
print(f"Mode of Monthly Premium Auto: {mode_monthly_premium}")
print(f"Standard Deviation of Monthly Premium Auto: {std_monthly_premium}")
print(f"Quartiles of Monthly Premium Auto: {quart_monthly_premium}")

Mean of Monthly Premium Auto: 205.2310924369748
Median of Monthly Prenium Auto: 83.0
Mode of Monthly Premium Auto: 0    65.0
Name: Monthly Premium Auto, dtype: float64
Standard Deviation of Monthly Premium Auto: 1697.7525043092096
Quartiles of Monthly Premium Auto: [ 68.  83. 110.]

In [51]:
mean_total_claim = insurance["Total Claim Amount"].mean()
median_total_claim = insurance["Total Claim Amount"].mean()
mode_total_claim = insurance["Total Claim Amount"].mode()
std_total_claim = insurance["Total Claim Amount"].std()
quart_total_claim = np.percentile(insurance["Total Claim Amount"], [25, 50, 75])

print(f"Mean of Total Claim Amount: {mean_total_claim}")
print(f"Median of Total Claim Amount: {median_total_claim}")
print(f"Mode of Total Claim Amount: {mode_total_claim}")
print(f"Standard deviation of Total Claim Amount: {std_total_claim}")
print(f"Quartiles of Total Claim Amount: {quart_total_claim}")

Mean of Total Claim Amount: 404.99915613550417
Median of Total Claim Amount: 404.99915613550417
Mode of Total Claim Amount: 0    321.6
Name: Total Claim Amount, dtype: float64
Standard deviation of Total Claim Amount: 299.23872610749174
Quartiles of Total Claim Amount: [196.72458675 350.4        534.        ]

In [ ]:
# - Compute summary statistics for categorical columns and providing your conclusions based on these 
#statistics.

In [55]:
state_counts = insurance["ST"].value_counts()
print(state_counts)

Oregon        276
Arizona       174
California    174
Cali          119
Nevada         89
Washington     77
WA             29
AZ             14
Name: ST, dtype: int64

In [61]:
unique_states = insurance["ST"].unique()
print(unique_states)

['Arizona' 'Nevada' 'California' 'Washington' 'Oregon' 'AZ' 'WA' 'Cali']

In [62]:
most_common_state = insurance["ST"].mode().values[0]
print(most_common_state)

Oregon

In [56]:
gender_counts = insurance["GENDER"].value_counts()
print(gender_counts)

F         456
M         412
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [63]:
unique_gender = insurance["GENDER"].unique()
print(unique_gender)

['F' 'M' 'Femal' 'Male' 'female']

In [64]:
most_common_gender= insurance["GENDER"].mode().values[0]
print(most_common_gender)

F

In [57]:
education_counts = insurance["Education"].value_counts()
print(education_counts)

Bachelor                284
College                 279
High School or Below    264
Master                   83
Doctor                   35
Bachelors                 7
Name: Education, dtype: int64

In [65]:
unique_education = insurance["Education"].unique()
print(unique_education)

['Bachelor' 'High School or Below' 'College' 'Master' 'Bachelors' 'Doctor']

In [66]:
most_common_education = insurance["Education"].mode().values[0]
print(most_common_education)

Bachelor

In [59]:
policy_counts = insurance["Policy Type"].value_counts()
print(policy_counts)

Personal Auto     689
Corporate Auto    211
Special Auto       52
Name: Policy Type, dtype: int64

In [67]:
unique_policy = insurance["Policy Type"].unique()
print(unique_policy)

['Personal Auto' 'Corporate Auto' 'Special Auto']

In [68]:
most_common_policy = insurance["Policy Type"].mode().values[0]
print(most_common_policy)

Personal Auto

In [60]:
vehicle_class_counts = insurance["Vehicle Class"].value_counts()
print(vehicle_class_counts)

Four-Door Car    506
Two-Door Car     184
SUV              179
Sports Car        52
Luxury SUV        18
Luxury Car        13
Name: Vehicle Class, dtype: int64

In [69]:
unique_vehicle_class = insurance["Vehicle Class"].unique()
print(unique_vehicle_class)

['Four-Door Car' 'Two-Door Car' 'SUV' 'Sports Car' 'Luxury Car'
 'Luxury SUV']

In [70]:
most_common_vehicle_class = insurance["Vehicle Class"].mode().values[0]
print(most_common_vehicle_class)

Four-Door Car

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [77]:
state_counts = insurance["ST"].value_counts()
asc_state_counts = state_counts.sort_values(ascending=True)
asc_state_counts.head(5)

AZ             14
WA             29
Washington     77
Nevada         89
Cali          119
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [80]:
policy_counts = insurance["Policy Type"].value_counts()
print(policy_counts)
most_common_policy = insurance["Policy Type"].mode().values[0]
print(most_common_policy)

Personal Auto     689
Corporate Auto    211
Special Auto       52
Name: Policy Type, dtype: int64
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [84]:
personal_auto_mask = (insurance['Policy Type'] == 'Personal Auto')
corporate_auto_mask = (insurance['Policy Type'] == 'Corporate Auto')

personal_auto_df = insurance[personal_auto_mask]
corporate_auto_df = insurance[corporate_auto_mask]

In [85]:
mean_income_personal = personal_auto_df["Income"].mean()
mean_income_corporate = corporate_auto_df["Income"].mean()

print(mean_income_corporate)
print(mean_income_personal)

41034.50710900474
38643.96081277214

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here